extends layout

block content
  .container
    .row
      .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
        h1.page-header= name
          &nbsp;&nbsp;分类列表&nbsp;&nbsp;&laquo;
          = postsT
          &raquo;
        each post in posts
          .post-preview
           a(href='/article/view/'+post.id)
            h2.post-title
              =post.title
            h3.post-subtitle
              =truncate(post.content,160)
           p.post-meta
            | &nbsp;作者&nbsp;
            a(href='users/center/'+post.author.id)=post.author.name
            |  &nbsp;时间&nbsp; 
            span=moment(post.created).format('YYYY-MM-DD  h:mm:ss' )
            | &nbsp;分类&nbsp;
            a=post.category.name
          hr
      // Pager
    div.pagebox(style="display: flex;justify-content: center;")
      ul.pagination
        li
          a &laquo;
        -for(var i=0;i<11;i++){
          if startPage==nowPage
            li.active
              a(href="")=startPage++
          else
            if startPage>0
              if startPage<=pageT
                li
                  a(href="")=startPage++
            else
              -startPage++
        -}
        li
          a &raquo;
 hr

